body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

.heading {
    font-size: 4rem;
}

.img-fluid {
    max-width: 100%;
    max-height: 90%;
}

.brands {
    margin-top: 30%;
}

.btn:focus {
    outline: none;
    border: none;
}

.dropdown-menu {
    border: none;
}